In [1]:
import pandas as pd

In [5]:
df = pd.read_parquet("./yellow_tripdata_2024-04.parquet")

In [8]:
df = df.iloc[:100]

In [12]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine("postgresql://airflow:airflow@localhost:5433/airflow")

In [16]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [15]:
pd.__version__

'2.1.4'

In [17]:
import pyarrow.parquet as pq

In [18]:
parquet_file = pq.ParquetFile("./yellow_tripdata_2024-04.parquet")

In [24]:
for batch in parquet_file.iter_batches():
    df: pd.DataFrame = batch.to_pandas()
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")